@model ProjectDetailsViewModel

@{
    ViewData["Title"] = "@Model.Project.ProjectName";
}

<div>
    <div class="row p-3">
        <div>
            <h1>@Model.Project.ProjectName</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-6 to-details p-3">
            <h3>Beställt material</h3>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped p-3">
            <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Produktnamn</th>
                    <th scope="col">Produkt typ</th>
                    <th scope="col">Mängd</th>
                    <th scope="col">Återförsäljare</th>
                    <th scope="col">Datum för beställning</th>
                    <th scope="col">Pris</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.OrderedProducts)
                {
                    <tr>
                        <th scope="row">@order.OrderedProductId</th>
                        <td>@order.ProductName</td>
                        <td>@order.ProductType</td>
                        <td>@order.Amount</td>
                        <td>@order.Retailer</td>
                        <td>@order.OrderPlaced</td>
                        <td>@Convert.ToDecimal(order.Price).ToString("#,##0.00") kr</td>
                        <td>
                            <a class="btn btn-secondary" asp-controller="OrderedProduct" asp-action="ChangeOrderedProduct"
                               asp-route-id="@order.OrderedProductId">Ändra</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Totalpris: @Convert.ToDecimal(@Model.Project.TotalCost).ToString("#,##0.00") kr</th>
                </tr>
            </tfoot>
        </table>
        <a class="btn btn-primary text-uppercase" asp-controller="OrderedProduct" asp-action="AddOrderedProduct"
           asp-route-id="@Model.Project.ProjectId">Lägg till beställd produkt</a>
    </div>
</div>

